@import "tailwindcss";

@font-face {
    font-family: danaRegular;
    src: url("../src/font/Dana/woff2/DanaFaNum-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: danaMedium;
    src: url("../src/font/Dana/woff2/DanaFaNum-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: danaDemiBold;
    src: url("../src/font/Dana/woff2/DanaFaNum-DemiBold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: MorabbaLight;
    src: url("../src/font/Morabba/woff2/Morabba-Light.woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: MorabbaMedium;
    src: url("../src/font/Morabba/woff2/Morabba-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: MorabbaBold;
    src: url("../src/font/Morabba/woff2/Morabba-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer base{
        .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

}
@layer utilities{
    .blog-1{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0)0%, rgba(69, 205, 247, 1)100%), url(../src/img/Blog/brave-little-boy-visiting-dentist-2023-11-27-04-59-10-utc\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-2{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0)0%, rgba(69, 205, 247, 1)100%), url(../src/img/Blog/portrait-of-dentist-doctor-with-digital-tablet-2023-11-27-05-20-18-utc\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-3{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0)0%, rgba(69, 205, 247, 1)100%), url(../src/img/Blog/little-boy-at-the-dentist-2023-11-27-05-28-49-utc\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
     .services{
    @apply relative
 }
 .services::before{
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #D1D5DC;
 }
 @media screen and (min-width:1024px) {
    .services::before{
        content: none;
    }
}
 .services::before{
    width: calc(100% - 3.25rem);
    height: 1px;
 }
}
@layer components{
        .overlay{
        @apply opacity-0 invisible min-[970px]:hidden fixed inset-0 bg-black/40 z-10 transition-all duration-300
    }
    .overlay--visible{
        @apply opacity-100 visible
    }
}
@theme{
    --font-danaRegular:danaRegular;
    --font-danaMedium:danaMedium;
    --font-danaDemiBold:danaDemiBold;
    --font-MorabbaLight:MorabbaLight;
    --font-MorabbaMedium:MorabbaMedium;
    --font-MorabbaBold:MorabbaBold;
}